
SppoLab2/.vs/SppoLab2/v17/.suo
SppoLab2/.vs/SppoLab2/v17/.suo
*.cache
SppoLab2/SppoLab2/Script/Working/Course.cs
*.exe
SppoLab2/.vs/SppoLab2/v17/.suo
*.pdb
SppoLab2/SppoLab2/Script/Working/Course.cs
SppoLab2/SppoLab2/obj/Debug/SppoLab2.pdb
